.comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.comment-wrapper form {
  margin-top: 10px;
  width: 100%;
}

.comment-wrapper input {
  background-color: #88292F;
  color: white;
}

.comment-wrapper input:focus {
  outline: none;
}

.comment {
  margin-left: 20px;
}

.comment p {
  margin-bottom: 0;
}