.post-wrapper {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.post-wrapper .main-img {
  width: 100%;
}

.post {
  border: 2px solid #88292F;
  background: #a2a79e;
  border-radius: 5px;
  box-shadow: 5px 10px 30px;
  margin-bottom: 30px;
}

.likes {
  display: flex;
  justify-content: flex-start;
  margin: 10px 20px;
}

.likes i {
  font-size: 1.5rem;
  margin-right: 10px;
}
